@media (min-width: 576px) { 
    /* header part responsive css */
    
 }

@media (min-width: 400px) { 
    /* header part responsive css */
    .header_contact_text>p>span:first-child {
        display: block;
    }
    .header_contact_text>p>span:last-child {
        display: none;
    }
    .header_contact_text>span {
        display: block;
    }
    
 }